@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*
┏━━━┓┏━━━┓┏┓━━━┏━━━┓┏━━━┓┏━━━┓
┃┏━┓┃┃┏━┓┃┃┃━━━┃┏━┓┃┃┏━┓┃┃┏━┓┃
┃┃━┗┛┃┃━┃┃┃┃━━━┃┃━┃┃┃┗━┛┃┃┗━━┓
┃┃━┏┓┃┃━┃┃┃┃━┏┓┃┃━┃┃┃┏┓┏┛┗━━┓┃
┃┗━┛┃┃┗━┛┃┃┗━┛┃┃┗━┛┃┃┃┃┗┓┃┗━┛┃
┗━━━┛┗━━━┛┗━━━┛┗━━━┛┗┛┗━┛┗━━━┛
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
body {
    white-space: normal;
}
#container {
    white-space: normal;
}
#menuContainer {
    white-space: normal;
}
#mainMenuContainer {
    background-color: #3D3D3DFF;
}
#mainMenuHeader {
    background: #DC143C;
    color: #EFEFEF;
}
#mainMenuHeaderH1Container {
    white-space: normal;
}
#mainMenuHeaderH1 {
    white-space: normal;
}
#mainMenuCloseContainer {
    background-color: #17171760;
}
#closeButton {
    background-color:#DC143C;
    color:#EFEFEF;
}
#closeButton:hover {
    color:#171717;
}
#mainMenuActionButtons {
    white-space: normal;
}
.mainMenuActionButtonItem {
    white-space: normal;
}
.mainMenuActionButton {
    background-color:#EFEFEF;
    color: #DC143C;
}
.mainMenuActionButton:hover {
    background: #DC143C;
    color: #EFEFEF;
}
#mainMenuContent {
    white-space: normal;
}
#mainMenuContent::-webkit-scrollbar {
    white-space: normal;
}
#mainMenuContent::-webkit-scrollbar-track {
    background: #171717;        /* color of the tracking area */
}
#mainMenuContent::-webkit-scrollbar-thumb {
    background-color: #DC143C;    /* color of the scroll thumb */
}
.mainMenuNavButtons {
    white-space: normal;
}
.mainMenuNavButtonItem {
    white-space: normal;
}
.mainMenuNavButton {
    background-color:#EFEFEF;
    color: #DC143C;
}
.mainMenuNavButton:hover {
    background: #DC143C;
    color: #EFEFEF;
}
.mainMenuNavSubButtons {
    white-space: normal;
}
.mainMenuNavSubButtonItem {
    white-space: normal;
}
.mainMenuSubNavButton {
    background-color:#CFCFCF;
    color:#940C28;
}
.mainMenuNavSubButton:hover {
    background: #940C28;
    color: #CFCFCF;
}
#mainMenuContent footer {
    white-space: normal;
}
#subMenuContainer {
    background-color: #3D3D3D3D;
}
#subMenuContainer.open {
    white-space: normal;
}
#subMenuContainer.open header  {
    background: #DC143C;
    color: #EFEFEF;
}
#subMenuHeader {
    white-space: normal;
}
#subMenuHeaderH1Container {
    white-space: normal;
}
#subMenuHeaderH1 {
    white-space: normal;
}
#subMenuRetractContainer {
    background-color: #17171760;
}
.subMenuRetractButton {
    background-color:#DC143C;
    color:#EFEFEF;
}
.subMenuRetractButton:hover {
    color:#171717;
}
#subMenuActionButtons {
    white-space: normal;
}
.subMenuActionButtonItem {
    white-space: normal;
}
.subMenuActionButton {
    background-color:#EFEFEF;
    color: #DC143C;
}
.subMenuActionButton:hover {
    background: #DC143C;
    color: #EFEFEF;
}
#subMenuContent {
    white-space: normal;
}
#subMenuContent::-webkit-scrollbar {
    white-space: normal;
}
#subMenuContent::-webkit-scrollbar-track {
    background: #171717;        /* color of the tracking area */
}
#subMenuContent::-webkit-scrollbar-thumb {
    background-color: #DC143C;    /* color of the scroll thumb */
}
.subMenuNavButtons {
    white-space: normal;
}
.subMenuNavButtonItem {
    white-space: normal;
}
.subMenuNavButton {
    background: #EFEFEF;
    color: #171717;
}
.subMenuNavButton:hover {
    background: #EFEFEF;
    color: #DC143C;
}
.subMenuNavSubButton {
    background-color:#bebebe;
    color:#940C28;
}
.subMenuNavSubButton:hover {
    background: #940C28;
    color: #CFCFCF;
}
#subMenuFooter {
    white-space: normal;
}
#contentContainer {
    background-color: #3d3d3d3d;
}
#contentContainer.open header {
    background: #DC143C;
    color: #EFEFEF;
}
#contentHeader {
    white-space: normal;
}
#contentHeaderH1Container {
    white-space: normal;
}
#contentHeaderH1 {
    white-space: normal;
}
#contentRetractContainer {
    background-color:#17171760;
}
.contentRetractButtonContainer{
    white-space: normal;
}
.contentRetractButton {
    background-color:#DC143C;
    color:#EFEFEF;
}
.contentRetractButton:hover {
    color:#171717;
}
#content {
    white-space: normal;
}
.contentBody {
    white-space: normal;
}
.contentList {
    background-color:#EFEFEF;
    color:#DC143C
}
.contentListItem {
    white-space: normal;
}
.contentList i {
    white-space: normal;
}
.contentCard {
    background-color:#EFEFEF;
    color:#DC143C
}
.contentCard i {
    white-space: normal;
}
#content table {
    white-space: normal;
}
#content table tr th {
    white-space: normal;
}
#content table tr td {
    white-space: normal;
}
#contentContainer footer {
    white-space: normal;
}
.subMenuCardItem {
    white-space: normal;
}
.hireable {
    background-color:#008800;
    color:#FFFFFF;
}
.blackListed {
    background-color:#000000;
    color:#EFEFEF;
}
.blackListed h3 {
    white-space: normal;
}
.logo {
    white-space: normal;
}
h2 {
    white-space: normal;
}
h3 {
    white-space: normal;
}
nav {
    white-space: normal;
}
button {
    white-space: normal;
}
button:hover {
    white-space: normal;
}
button i {
    white-space: normal;
}
/*
┏┓━━━┏━━━┓┏┓━━┏┓┏━━━┓┏┓━┏┓┏━━━━┓
┃┃━━━┃┏━┓┃┃┗┓┏┛┃┃┏━┓┃┃┃━┃┃┃┏┓┏┓┃
┃┃━━━┃┃━┃┃┗┓┗┛┏┛┃┃━┃┃┃┃━┃┃┗┛┃┃┗┛
┃┃━┏┓┃┗━┛┃━┗┓┏┛━┃┃━┃┃┃┃━┃┃━━┃┃━━
┃┗━┛┃┃┏━┓┃━━┃┃━━┃┗━┛┃┃┗━┛┃━┏┛┗┓━
┗━━━┛┗┛━┗┛━━┗┛━━┗━━━┛┗━━━┛━┗━━┛━
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
body {
    overflow: hidden;
    cursor: default;
}
#container {
    display: none;
    height: 100vh;
}
#menuContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
#mainMenuContainer {
    position: absolute;
    background-position: center center;
    backface-visibility: hidden;
    width: 33.3vh;
    height: 50vh;
    top: 5vh;
    background-size: cover;
    border-radius: 2vh;
    padding: 0vh;
    box-shadow: 18px 0px 30px -12px #000000;
    z-index: 9999;
}
#mainMenuHeader {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 2vh 2vh 0 0;
}
#mainMenuHeaderH1Container {
    position: relative;
    flex: 1;
    margin: 0;
    padding: 1vh;
}
#mainMenuHeaderH1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.75vh;
}
#mainMenuCloseContainer {
    border-radius: 0 2vh 0 0;
    width: 4vh;
    margin: 0 1vh;
    position: relative;
}
#closeButton {
    position: relative;
    float: right;
    width: auto;
    margin: 0 auto;
    padding: 0.2vh;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border-style: none;
    border-radius: 1vh;
}
#closeButton i {
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0.5vh;
    width: 2vh;
    height: 2vh;
}
#mainMenuActionButtons {
    display:grid;
    grid-template-columns:1fr 1fr;
    gap: 0.5vh;
    margin-top:0.5vh;
    margin-left:3vh;
}
.mainMenuActionButtonItem {
    white-space: normal;
}
.mainMenuActionButton {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    border-style: none;
    border-radius: 0.5vw;
}
#mainMenuContent {
    position: relative;
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 42.5vh;
    overflow-y: auto;
}
#mainMenuContent::-webkit-scrollbar {
    width: 1vh;
}
#mainMenuContent::-webkit-scrollbar-track {
    border-radius: 20px;
    border: 3px solid #171717;
}
#mainMenuContent::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid #171717;
}
.mainMenuNavButtons {
    position: relative;
    width: 100%;
    max-height: 41.5vh;
    display: grid;
    gap: 0.5vh;
}
.mainMenuNavButtonItem {
    white-space: normal;
}
.mainMenuNavButton {
    position: relative;
    width: 100%;
    margin:0 auto;
    padding: 0.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    font-weight: 400;
    text-transform: uppercase;
    text-align:left;
    border-style: none;
    border-radius: 0.5vw;
}
.mainMenuNavSubButtons {
    display: none;
    margin-top:0.5vh;
    margin-left:3vh;
    gap: 0.5vh
}
.mainMenuNavSubButtonItem {
    white-space: normal;
}
.mainMenuNavSubButton {
    position: relative;
    width: 100%;
    margin:0 auto;
    padding: 0.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    font-weight: 400;
    text-transform: uppercase;
    text-align:left;
    border-style: none;
    border-radius: 0.5vw;
}
#mainMenuContent footer {
    white-space: normal;
}
#subMenuContainer {
    position: absolute;
    border-radius: 0vh 2vh 2vh 0vh;
    transition: transform 300ms linear;
    height: 44vh;
    background-position: center center;
    backface-visibility: hidden;
    width: 32vh;
    margin: 0 auto;
    top: 6.5vh;
    background-size: cover;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.226);
    z-index: 3;
    transform: translateX(0vh);
    transition: transform 300ms linear;
    left: 2vh;
}
#subMenuContainer.open {
    transform: translateX(33vh);
}
#subMenuHeader {
    display: flex;
    flex: 1;
    align-items: center;
    position: relative;
    border-radius: 0 2vh 0 0;
}
#subMenuHeaderH1Container {
    position: relative;
    flex: 1;
    margin: 0;
    padding: 1vh;
}
#subMenuHeaderH1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.75vh;
}
#subMenuRetractContainer {
    border-radius: 0 2vh 0 0;
    height: 100%;
    width: 4vh;
    margin: 0 1vh;
    position: relative;
}
.subMenuRetractButton {
    position: relative;
    float: right;
    width: auto;
    margin: 0 auto;
    padding: 0.2vh;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border-style: none;
    border-radius: 1vh;
}
.subMenuRetractButton i {
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0.5vh;
    width: 2vh;
    height: 2vh;
}
#subMenuActionButtons {
    position: relative;
    margin-top:0.5vh;
    margin-left:3vh;
    margin: 0.5vh 0vh 0vh 3vh;
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 0.5vh
}
.subMenuActionButtonItem {
    white-space: normal;
}
.subMenuActionButton {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    border-style: none;
    border-radius: 0.5vw;
}
#subMenuContent {
    position: relative;
    display: grid;
    height: 28.5vh;
    margin: 0.5vh;
    overflow-y: auto;
}
#subMenuContent::-webkit-scrollbar {
    width: 1vh;
}
#subMenuContent::-webkit-scrollbar-track {
    border-radius: 20px;
    border: 3px solid #171717;
}
#subMenuContent::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid #171717;
}
.subMenuNavButtons {
    position: relative;
    width: 100%;
}
.subMenuNavButtonItem {
    white-space: normal;
}
.subMenuNavButton {
    position: relative;
    width: 100%;
    margin:0 auto;
    padding: 0.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    font-weight: 400;
    text-transform: uppercase;
    text-align:left;
    border-style: none;
    border-radius: 0.5vw;
}
.subMenuNavSubButtons {
    display: none;
    margin-top:0.5vh;
    margin-left:3vh;
    gap: 0.5vh
}
.subMenuNavSubButtonItem {
    white-space: normal;
}
.subMenuNavSubButton {
    position: relative;
    width: 100%;
    margin:0 auto;
    padding: 0.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    font-weight: 400;
    text-transform: uppercase;
    text-align:left;
    border-style: none;
    border-radius: 0.5vw;
}
#subMenuFooter {
    white-space: normal;
}
#contentContainer {
    position: absolute;
    border-radius: 0vh 2vh 2vh 0vh;
    transition: transform 300ms linear;
    margin-top: 8vh;
    height: 44vh;
    background-position: center center;
    backface-visibility: hidden;
    width: 32vh;
    margin: 0 auto;
    top: 6.5vh;
    background-size: cover;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.226);
    z-index: 2;
    transform: translateX(0vh);
    transition: transform 300ms linear;
    left: 2vh;
}
#contentContainer.open {
    transform: translateX(66vh);
}
#contentHeader {
    display: flex;
    flex: 1;
    align-items: center;
    position: relative;
    border-radius: 0 2vh 0 0;
}
#contentHeaderH1Container {
    position: relative;
    flex: 1;
    margin: 0;
    padding: 1vh;
}
#contentHeaderH1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.75vh;
}
#contentRetractContainer {
    border-radius: 0 2vh 0 0;
    height: 100%;
    width: 4vh;
    margin: 0 1vh;
    position: relative;
}
.contentRetractButtonContainer {
    position: relative;
    width: auto;
    margin: 0 auto;
    height: 100%;
}
.contentRetractButton {
    padding: 0.2vh;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border-style: none;
    border-radius: 1vh;
}
.contentRetractButton i {
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0.5vh;
    width: 2vh;
    height: 2vh;
}
#contentActionButtons {
    position: relative;
    margin-top:0.5vh;
    margin-left:3vh;
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 0.5vh
}
.contentActionButtonItem {
    height: 0vh
}
.contentActionButton {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    border-style: none;
    border-radius: 0.5vw;
}
#content {
    position: relative;
    display: grid;
    height: 28.5vh;
    margin: 0.5vh;
    overflow-y: auto;
}
#content::-webkit-scrollbar {
    width: 1vh;
}
#content::-webkit-scrollbar-track {
    border-radius: 20px;
    border: 3px solid #171717;
}
#content::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid #171717;
}
.contentNavButtons {
    display:grid;
    gap: 0.5vh;
}
.contentNavButtonItem {
    white-space: normal;
}
.contentNavButton {
    position: relative;
    width: 100%;
    margin:0 auto;
    padding: 0.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    font-weight: 400;
    text-transform: uppercase;
    text-align:
    left;
    letter-spacing: 0.05vh;
    border-style: none;
    border-radius: 0.5vw;
}
.contentNavSubButton {
    position: relative;
    width: auto;
    padding: 0.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.05vh;
    border-style: none;
    border-radius: 0.5vw;
}
#contentFooter {
    white-space: normal;
}
.contentCard {
    padding: 1vw !important;
    position: relative;
    border-radius: 1vh;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 1.5vh;
    font-weight: 400;
    margin-left: 1vh !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5vh;
}
.contentCard i {
    padding-right:2vh;
}
.blackListed h3 {
    text-align: center;
}
.logo {
    background-image: url("./qb.png");
    background-size: 20vh 20vh;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
}
nav {
    padding:0;
}
button {
    cursor: pointer;
}
button:hover {
    cursor: pointer;
}
button i {
    padding-right: 2vh;
}